[submodule "third_part/sflib"]
	path = third_part/sflib
	url = https://github.com/skyfireitdiy/sflib
[submodule "third_part/sqlite_orm"]
	path = third_part/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm
[submodule "third_part/digestpp"]
	path = third_part/digestpp
	url = https://github.com/kerukuro/digestpp
[submodule "third_part/inja"]
	path = third_part/inja
	url = https://github.com/pantor/inja
