<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>

        <div>
            <button class="layui-btn" @click="add_new_blog();">发布新文章</button>
            <button class="layui-btn">批量置顶</button>
            <button class="layui-btn">批量取消置顶</button>
            <button class="layui-btn">批量隐藏</button>
            <button class="layui-btn">批量取消隐藏</button>
            <button class="layui-btn">批量删除</button>
            <button class="layui-btn">批量修改分类</button>
            <button class="layui-btn">批量添加标签</button>
            <br><br>
            <table class="layui-table">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <td><input type="checkbox" v-model="select_all_flag" @change="on_select_all();" class="laytable-cell-checkbox"> 选中</td>
                    <td>标题</td>
                    <td>发布时间</td>
                    <td>阅读数</td>
                    <td>置顶</td>
                    <td>分类</td>
                    <td>标签</td>
                    <td>隐藏</td>
                    <td>操作</td>
                </thead>
                <tr v-for="art in blog_data">
                    <td><input type="checkbox" :value="art.id" v-model="checked_item"></td>
                    <td>{{art.title}}</td>
                    <td>{{art.publish_time}}</td>
                    <td>{{art.watch_number}}</td>
                    <td>
                        <input type="checkbox" class="layui-checkbox" :checked="art.top">
                    </td>
                    <td>{{art.big_type.type_name}} - {{art.sub_type.type_name}}</td>
                    <td style="text-align: left">
                        <div v-for="lab in art.labels" style="margin-right: 3px;  border: burlywood thick solid; float: left; background-color: burlywood; border-radius: 5px;">
                            {{lab.label_name}}
                            <button class="layui-btn layui-btn-sm layui-btn-radius">x</button>
                        </div>
                        <button class="layui-btn">+</button>
                    </td>
                    <td><input type="checkbox" class="layui-checkbox" :checked="art.hide"></td>
                    <td>
                        <button class="layui-btn">删除</button>
                        <button class="layui-btn">编辑</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script>
        layui.use(["element", "layer", "jquery"], function() {
            let layer = layui.layer;
            let element = layui.element;
            let $ = layui.jquery;

            let app = new Vue({
                el: "#app",
                data: {
                    blog_data: [],
                    checked_item: [],
                    select_all_flag: false
                },
                methods: {
                    add_new_blog: function() {
                        window.location.href = "/admin/api/editor?type=0";
                    },

                    on_select_all: function() {
                        this.checked_item = []
                        if (this.select_all_flag) {
                            for (let k in this.blog_data) {
                                this.checked_item.push(this.blog_data[k].id);
                            }
                        }
                    },
                    init_blog_data: function() {
                        let this_ = this;
                        $.ajax({
                            url: "/admin/api/blog_info",
                            method: "GET",
                            success: function(res) {
                                if (res.code !== 0) {
                                    layer.msg(res.msg, {
                                        icon: 0
                                    });
                                } else {
                                    this_.blog_data = res.data;
                                }
                            }
                        });
                    }
                },
                mounted: function() {
                    this.init_blog_data();
                }
            });
        });
    </script>
</body>

</html>