<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
    <style>
        [v-cloak] {
            display: none;
        }
        
        .layui-table {
            margin: 0;
        }
        
        .layui-table td {
            padding: 0;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>

        <div style="margin: auto; text-align: center;">

            <h1>分组信息</h1>
            <br>
            <br>
            <table class="layui-table">
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <td>主分组&nbsp;&nbsp;<button class="layui-btn layui-btn-green layui-btn-sm layui-btn-radius" @click="add_big_group();">添加主分组</button></td>
                    <td>操作</td>
                    <td>子分组</td>
                </thead>
                <tr v-for="big_group in group_info">
                    <td>{{big_group.group_name}}</td>
                    <td>
                        <button class="layui-btn layui-btn-normal" @click="rename_big_group(big_group.id, big_group.group_name);">重命名</button>
                        <button class="layui-btn layui-btn-danger" v-if="big_group.sub_group.length === 0" @click="delete_big_group(big_group.id, big_group.group_name);">删除</button>
                    </td>
                    <td>
                        <table class="layui-table">
                            <colgroup>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <td>分组名 &nbsp;&nbsp;<button class="layui-btn layui-btn-green layui-btn-sm layui-btn-radius" @click="add_sub_group(big_group.id, big_group.group_name);">添加子分组</button>
                                </td>
                                <td>博客数量</td>
                                <td>操作</td>
                            </thead>
                            <tr v-for="sub_group in big_group.sub_group">
                                <td>{{sub_group.group_name}}</td>
                                <td>{{sub_group.blog_count}}</td>
                                <td>
                                    <button class="layui-btn layui-btn-normal" @click="rename_sub_group(big_group.id, big_group.group_name, sub_group.id, sub_group.group_name)">重命名</button>
                                    <button class="layui-btn layui-btn-danger" v-if="sub_group.blog_count === 0" @click="delete_sub_group(big_group.id, big_group.group_name, sub_group.id, sub_group.group_name);">删除</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <script src="https://www.layuicdn.com/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script>
        layui.use(["element", "layer", "jquery"], function() {
            let layer = layui.layer;
            let element = layui.element;
            let $ = layui.jquery;

            let app = new Vue({
                el: "#app",
                data: {
                    group_info: []
                },
                methods: {
                    init_group_info: function() {
                        let this_ = this;

                        $.ajax({
                            url: "/api/group_info",
                            method: "GET",
                            success: function(res) {
                                if (res.code !== 0) {
                                    layer.msg(res.msg, {
                                        icon: 0
                                    });
                                } else {
                                    this_.group_info = res.data;
                                }
                            }
                        });

                    },

                    add_big_group: function() {
                        let this_ = this;

                        layer.prompt({
                            formType: 0,
                            value: "",
                            maxlength: 20,
                            title: "请输入要新增的分组名"
                        }, function(value, index, elem) {
                            $.ajax({
                                url: "/admin/api/big_group",
                                method: "POST",
                                data: {
                                    group_name: value
                                },
                                success: function(res) {
                                    if (res.code !== 0) {
                                        layer.msg(res.msg, {
                                            icon: 0
                                        });
                                    } else {
                                        layer.msg("新增成功", {
                                            icon: 1
                                        });
                                        layer.close(index);
                                        this_.init_group_info();
                                    }
                                }

                            });
                        });
                    },
                    add_sub_group: function(id, group_name) {
                        let this_ = this;

                        layer.prompt({
                            formType: 0,
                            value: "",
                            maxlength: 20,
                            title: "请输入要为分组\"" + group_name + "\"添加的子分组名"
                        }, function(value, index, elem) {
                            $.ajax({
                                url: "/admin/api/sub_group",
                                method: "POST",
                                data: {
                                    group_name: value,
                                    big_group: id
                                },
                                success: function(res) {
                                    if (res.code !== 0) {
                                        layer.msg(res.msg, {
                                            icon: 0
                                        });
                                    } else {
                                        layer.close(index);
                                        this_.init_group_info();
                                    }
                                }
                            });

                        });
                    },
                    delete_big_group: function(id, group_name) {
                        let this_ = this;

                        layer.confirm("确认删除主分组\"" + group_name + "\"吗?", function() {
                            $.ajax({
                                url: "/admin/api/big_group",
                                method: "DELETE",
                                data: {
                                    id: id
                                },
                                success: function(res) {
                                    if (res.code !== 0) {
                                        layer.msg(res.msg, {
                                            icon: 0
                                        });
                                    } else {
                                        layer.msg("删除成功", {
                                            icon: 1
                                        });
                                        this_.init_group_info();
                                    }
                                }
                            })

                        });
                    },
                    delete_sub_group: function(big_group, big_group_name, sub_group, sub_group_name) {
                        let this_ = this;

                        layer.confirm("确认删除主分组\"" + big_group_name + "\"下的子分组\”" + sub_group_name + "\"吗?", function() {
                            $.ajax({
                                url: "/admin/api/sub_group",
                                method: "DELETE",
                                data: {
                                    id: sub_group
                                },
                                success: function(res) {
                                    if (res.code !== 0) {
                                        layer.msg(res.msg, {
                                            icon: 0
                                        });
                                    } else {
                                        layer.msg("删除成功", {
                                            icon: 1
                                        });
                                        this_.init_group_info();
                                    }
                                }
                            });

                        });
                    },
                    rename_big_group: function(id, group_name) {
                        let this_ = this;

                        layer.prompt({
                            formType: 0,
                            title: "请输入主分组\"" + group_name + "\"的新分组名",
                            value: group_name,
                            maxlength: 20
                        }, function(value, index, elem) {
                            $.ajax({
                                url: "/admin/api/big_group",
                                method: "PUT",
                                data: {
                                    id: id,
                                    new_name: value
                                },
                                success: function(res) {
                                    if (res.code !== 0) {
                                        layer.msg(res.msg, {
                                            icon: 0
                                        });
                                    } else {
                                        layer.msg("重命名成功", {
                                            icon: 1
                                        });
                                        layer.close(index);
                                        this_.init_group_info();
                                    }
                                }
                            });
                        });

                    },
                    rename_sub_group: function(big_group, big_group_name, sub_group, sub_group_name) {
                        let this_ = this;

                        layer.prompt({
                            formType: 0,
                            title: "请输入主分组\"" + big_group_name + "\"下的子分组\"" + sub_group_name + "\"的新分组名",
                            maxlength: 20,
                            value: sub_group_name
                        }, function(value, index, elem) {
                            $.ajax({
                                url: "/admin/api/sub_group",
                                method: "PUT",
                                data: {
                                    big_group: big_group,
                                    id: sub_group,
                                    new_name: value
                                },
                                success: function(res) {
                                    if (res.code !== 0) {
                                        layer.msg(res.msg, {
                                            icon: 0
                                        });
                                    } else {
                                        layer.msg("重命名成功", {
                                            icon: 1
                                        });
                                        layer.close(index);
                                        this_.init_group_info();
                                    }
                                }
                            })
                        });

                    }
                },
                mounted: function() {
                    this.init_group_info();
                }
            });
        });
    </script>
</body>

</html>